[mysqld]
server-id = {{ galera_server_id }}
bind-address = 0.0.0.0
port = 3306
pid_file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
default_storage_engine = innodb
datadir = /var/lib/mysql
log_error = /var/log/mysql/mariadb.err
!includedir /etc/mysql/mariadb.conf.d/

